# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env*.local

# Logs
logs
*.log
*.log.*
debug.log

# Build output
dist/
out/
.next/
coverage/

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/*.db
prisma/*.sqlite
prisma/migrations/
*.db
*.sqlite

# Typescript
*.tsbuildinfo

# MacOS
.DS_Store

# Postgres Docker volume
utd_pgdata/

# Editor
.vscode/
.idea/

# Lock files (optional)
pnpm-lock.yaml
yarn.lock